.card__like-icon {
  width: 22px;
  height: 19px;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/heart-icon.svg);
  background-size: 22px;
  border: none;
  transition: opacity 1s ease;
}

.card__like-icon:hover {
  opacity: 0.5;
}